allennlp
black
bokeh==2.4.3
checklist==0.0.11
datasets==2.4.0
d3blocks
evaluate
ferret-xai==0.4.0
flake8
funcsigs==1.0.2
gensim==4.2.0
isort
jupyter
jupyterlab
loguru==0.6.0
nlp==0.4.0
nltk
numpy==1.23.1
pandas==1.4.3
plotly
pre-commit==2.21.0
pytorch_lightning==1.7.1
pytorch_nlp==0.5.0
PyYAML==6.0
scikit-learn
seaborn==0.11.2
sentence-transformers==2.2.2
spacy==3.4.1
tensorboard==2.9.1
tokenizers==0.12.1
tqdm==4.64.0
transformers==4.20.1
trulens==0.12.1
umap-learn==0.5.3
wmd
